{% macro render_field(field) %}
<div class ="form-group" >
  <label for="{{ field.name }}" class="col-lg-2 control-label justify-content-center" style="font-size :20px;">{{ field.label.text }}</label>
    <div class="col-lg-5">
      {{ field(class='form-control', **kwargs)|safe }}
      {% if field.errors %}
       <ul class=errors>
         {% for error in field.errors %}
         <li style="color:red;">{{ error }}</li>
         {% endfor %}
       </ul>
       {% endif %}
     </div>
</div>
<br><br>
{% endmacro %}
