{% extends "desk_executive_layout.html" %}

{% block content %}
<div class="justify-content-center col-auto border-top-0">
<table class="table table-hover text-center">
    <thead>
    <tr class="table-warning">
        <th class="text-center">Patient ID</th>
        <th class="text-center">Patient Name</th>
        <th class="text-center">Age</th>
        <th class="text-center">Address</th>
        <th class="text-center">Date of admission</th>
        <th class="text-center">Bed Type</th>
        <th class="text-center">Date of discharge</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center">
    {% for i in patient_data[1:] %}
    <td>{{ i }}</td>
    {% endfor %}
        <td>{{ l_day }}</td>
    </tr>
    <tr><td colspan="4" align="right"><b>No. of days  =  {{ days }}</b></td> <td colspan="3" align="center"><b>Bill of room     Rs.{{bill[2]}}</b></td></tr>
    </tbody>
</table><br>
    
    <br><br>
    {% if meddata %}
    <h3 class="text-center">Pharmacy charges</h3>
    <table class="table table-hover text-center">
    <thead>
    <tr class="table-warning">
        <th class="text-center">Medicine</th>
        <th class="text-center">Quantity</th>
        <th class="text-center">Rate</th>
        <th class="text-center">Amount</th>
    </tr>
    </thead>
    <tbody>
        {% for i in meddata %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
        </tr>
        {% endfor %}
        <tr><td align="right" colspan="3"><b>Bill of Pharmacy</b></td>   <td><b>Rs.{{bill[0]}}</b></td></tr>
    </tbody>
    </table>
    <br>
    {% endif %}
    <br>
    {% if diagdata %}
    <h3 class="text-center">Diagnostics Charges</h3>
<table class="table table-hover text-center">
    <thead>
    <tr class="table-warning">
        <th class="text-center">Name of the test</th>
        <th class="text-center">Amount</th>
    </tr>
    </thead>
    <tbody>
        {% for i in diagdata %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor %}
        <tr><td align="right"><b>Bill of Diagnostics</b></td>  <td><b>Rs.{{bill[1]}}</b></td></tr>
    </tbody>
    </table>
    <br>
    {% endif %}
    <br>
</div>
<h4 align="center"><b>Grand Total</b>    <b>Rs.{{bill[0] + bill[1]+bill[2]}}</b></h4>

<a href="/del_patient/{{ patient_data[1] }}"><button class="btn btn-primary center-block">Confirm</button></a>
{% endblock %}