{% extends "pharma_layout.html" %}
{% block content %}
<div class=" justify-content-center col-auto border-top-0">
<table class="table table-hover text-center">
    <thead>
    <tr class="table-warning">
        <th class="text-center ">Patient ID</th>
        <th class="text-center ">Patient Name</th>
        <th class="text-center ">Age</th>
        <th class="text-center">Address</th>
        <th class="text-center">Date of admission</th>
        <th class="text-center">Bed Type</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center">
    {% for i in patient_data %}
    <td>{{ i }}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>
    {% if data %}
    <h3 class='text-center'>Diagnostics Conducted</h3>
<table class="table table-hover text-center">
    <thead>
    <tr class="table-warning">
        <th class="text-center">Name of the test</th>
        <th class="text-center">Amount</th>
    </tr>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
 {% else %}
    <h3 class='text-center'>No Diagnostics were Conducted </h3>
    {% endif %}
    <br>
    <h3 class='text-center'>Add Diagnostics</h3>
<table id="diagtable" class="table table-hover text-center">
    <thead>
     <tr class="table-warning">
        <th class="text-center">Name of the test</th>
         <th class="text-center">Amount</th>
    </tr>
    </thead>
    <tbody id="diagtbody"></tbody>
</table>
<!-- <input type="text" id="diagname" placeholder="Diagnostics Name" required> -->
<div class="form_block span2"><br>
<button class="btn btn-primary  center-block" onclick="insrow({{patient_data[0]}})">Add</button> <br>
    <br>

    <button class="btn btn-primary btn-lg center-block" onClick="window.location.reload();">Update</button>
</div>
</div>
<script>
    function insrow(patient_id){
        var diagname = prompt("Please enter test name", "");
        if(diagname != null){
        fetch('/adddiags/'+patient_id+'/'+ diagname).then(function(response){
                response.json().then(function(data){
                    if(!("error" in data)){
                console.log(data);
                var tabbody = document.getElementById('diagtbody');
                var newrow = tabbody.insertRow(tabbody.rows.length);
                var newcell1 = newrow.insertCell(0);
                var newcell2 = newrow.insertCell(1);
                var newtext1 = document.createTextNode(data.testname);
                var newtext2 = document.createTextNode(data.price);
                newcell1.appendChild(newtext1);
                newcell2.appendChild(newtext2);
            }else{
                    alert(data.error);
                }
            })
        })
    }
}
</script>
{% endblock %}
