{% extends "pharma_layout.html" %}
{% block content %}
<div class="row justify-content-center col-auto border-top-0">
<table id="medtable" class="table table-hover text-center">
    <thead>
     <tr class="table-warning">
        <th class="text-center">Medicine Name</th>
         <th class="text-center">Rate</th>
         <th class="text-center">Quantity</th>
         <th class="text-center">Amount</th>
    </tr>
    </thead>
    <tbody id="medtbody"></tbody>

</table>
<input type="text" id="medname" placeholder="Medicine Name" required>
    <br>
<input type="number" id="count" placeholder="Quantity" required><br>
<button class="btn btn-primary btn-xs" onclick="insrow({{patient_id}})">Add</button>
</div><br><br>
<form action="{{url_for('pharmacist')}}" method="post">
    <button type="submit" class="btn btn-primary center-block" value="{{patient_id}}" name="patient_id">Updated Medicines</button>
</form>
<script>
    function insrow(patient_id){
    console.log(1);
        x = document.getElementById('medtable');
        medname = document.getElementById('medname').value;
        console.log(medname);
        quantity = document.getElementById("count").value;
        console.log(quantity);
        fetch('/addmeds/'+patient_id+'/'+ medname+'/'+quantity).then(function(response){
                response.json().then(function(data){
                    if(!("error" in data)){
                console.log(data);
                var tabbody = document.getElementById('medtbody');
                var newrow = tabbody.insertRow(tabbody.rows.length);
                var newcell1 = newrow.insertCell(0);
                var newcell2 = newrow.insertCell(1);
                var newcell3 = newrow.insertCell(2);
                var newcell4 = newrow.insertCell(3);
                var newtext1 = document.createTextNode(data.medicinename);
                var newtext2 = document.createTextNode(data.price);
                var newtext3 = document.createTextNode(data.quant);
                var newtext4 = document.createTextNode(data.price*data.quant);
                newcell1.appendChild(newtext1);
                newcell2.appendChild(newtext2);
                newcell3.appendChild(newtext3);
                newcell4.appendChild(newtext4);
            }else{
                    alert(data.error);
                }
            })
        })
    }
</script>
{% endblock %}
