{% from "_render_field.html" import render_field %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <title>Hospital XYZ</title>
  </head>
  <body style='background-color: #F0F8FF;'>


    <div class=" container-fluid clearfix  fixed-top px-0" style="background-color: #4361EE; height:160px">

      <div class="float-right pb-3 pt-5 pr-3" style="font-size: 50px;font-weight: 900;color: #3A0CA3;">XYZ HOSPITAL </div>


        <ul class="nav nav-fill w-100 rounded-lg" style="background-color: #7209B7;">
            {% block navs %}
            {% endblock %}
            </ul>

    </div>

    <div class="container-fluid  mx-auto"style="margin-top: 170px;">
      <legend class=" text-center" style="font-size: 30px;"> {{ title }} </legend> <!--title of the page-->
       {% for catg,msg in get_flashed_messages(with_categories=true) %}<!--This gives the flash messages-->
        <div class="alert alert-{{ catg }}" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ msg }}
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>

    <!--bootstrap script links-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
