{% extends "layout.html" %}

{% block navs %}

  <li class="nav-item">
    <a class="nav-link" style="font-size :20px; color: #F72585;" href="/logout">Logout</a>
  </li>

  {% endblock %}
  {% block page_content %}
  {% for catg,msg in get_flashed_messages(with_categories=true) %}
   <div class="alert alert-{{ catg }}" role="alert">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
     {{ msg }}
   </div>
   {% endfor %}
  {% block content %}
  {% endblock %}
  {% endblock %}
