{% extends "desk_executive_layout.html" %}

{% block content %}
<fieldset>
  <form  action = "" method = "POST">
  {{ form.csrf_token }} <!-- this is very important so that validate functions work in the view-->

  <div class ="form-group row" >
    <label for="patient_id" class="col-lg-2 control-label justify-content-center" style="font-size :20px;">Patient ID</label>
    <div class="col-lg-4">
      <input placeholder="Patient  Id" class="form-control" id="patient_id" name="patient_id" required="" type="text" value="">
      {% if form.patient_id.errors %}
      <ul class=errors>
        {% for error in field.errors %}
        <li style="color:red;">{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <input class="btn btn-primary btn-lg col-lg-1" name="{{ form.search.name }}" type="submit" value="{{ form.search.label.text }}">
  </div>

    {{ render_field(form.patient_name) }}
    {{ render_field(form.age) }}
    {{ render_field(form.doa) }}
    {{ render_field(form.bed_type) }}
    {{ render_field(form.address) }}
    {{ render_field(form.state) }}
    {{ render_field(form.city) }}

    </form>
  </fieldset>



 {% endblock %}
